* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#box-model {
  background-color: lightgrey;
  padding: 10px;
  border: 3px solid brown;
}

#flexbox {
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#flexbox p {
  width: 200px;
  border: 2px solid burlywood;
}

nav {
  background-color: darkblue;
  border: 2px solid black;
  /* width: 100%; */
}

nav ul {
  height: 40px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.title {
  /* margin-right: auto; */
  color: orange;
}

/* grid time */

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px 26px;
}

.grid p {
  border: 1px solid black;
  margin: 0;
}

.row-2 {
  grid-row: span 2;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}
